.nav-next {
    padding-top: 11vh;
    height: 91.5vh;
    /* background-color: #0a8888; */
    /* background: linear-gradient(to right,rgb(111, 125, 125), rgb(22, 94, 161))   */
   background-image: url(../image.webp);
   
}