
<app-nav></app-nav>
<router-outlet></router-outlet>
<div class="nav-next">
  <div class="nav-next-content">
      <div class="input-search">
          <h1>Welcome!!</h1>
          <h2>PORTFOLIO MANAGEMENT</h2>
          <h5>Portfolio management is the art and science of selecting and overseeing a group of investments that meet the long-term financial objectives and risk tolerance of a client, a company, or an institution.</h5>

           <h4> KEY TAKEAWAYS:</h4>
           <h3>  Portfolio management involves building and overseeing a selection of investments that will meet the long-term financial goals and risk tolerance of an investor.
            Active portfolio management requires strategically buying and selling stocks and other assets in an effort to beat the broader market.
            Passive portfolio management seeks to match the returns of the market by mimicking the makeup of a particular index or indexes.</h3>
      </div>
  </div>
</div>
